@font-face {
    font-family: 'BB';
    src: url('fonts/BarlowSemiCondensedBold.eot');
    src: url('fonts/BarlowSemiCondensedBold.eot') format('embedded-opentype'), url('fonts/BarlowSemiCondensedBold.woff2') format('woff2'), url('fonts/BarlowSemiCondensedBold.woff') format('woff'), url('fonts/BarlowSemiCondensedBold.ttf') format('truetype'), url('fonts/BarlowSemiCondensedBold.svg#BarlowSemiCondensedBold') format('svg');
}

@font-face {
    font-family: 'BSB';
    src: url('fonts/BarlowSemiCondensedSemiBold.eot');
    src: url('fonts/BarlowSemiCondensedSemiBold.eot') format('embedded-opentype'), url('fonts/BarlowSemiCondensedSemiBold.woff2') format('woff2'), url('fonts/BarlowSemiCondensedSemiBold.woff') format('woff'), url('fonts/BarlowSemiCondensedSemiBold.ttf') format('truetype'), url('fonts/BarlowSemiCondensedSemiBold.svg#BarlowSemiCondensedSemiBold') format('svg');
}

:root {
    --radial-gradient: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    --scissors: hsl(40, 84%, 53%);
    --scissors-shadow: hsl(39, 89%, 39%);
    --paper: hsl(230, 89%, 65%);
    --paper-shadow: hsl(230, 89%, 52%);
    --rock: hsl(349, 70%, 56%);
    --rock-shadow: hsl(349, 71%, 42%);
    --lizard-gradient: linear-gradient(hsl(261, 73%, 60%), hsl(261, 72%, 63%));
    --cyan: linear-gradient(hsl(189, 59%, 53%), hsl(189, 58%, 57%));
    --dark-text: hsl(229, 25%, 31%);
    --score-text: hsl(229, 64%, 46%);
    --header-outline: hsl(217, 16%, 45%);
}

html {
    background: var(--radial-gradient) no-repeat;
    min-height: 100vh;
}

html .dim {
    background-color: rgb(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    z-index: 10;
    position: fixed;
}

button {
    cursor: pointer;
}